# === Python Cache & Bytecode ===
__pycache__/
*.py[cod]
*.so

# === Virtuelle Umgebungen ===
venv/
.venv/
env/
ENV/

# === Jupyter Notebooks ===
.ipynb_checkpoints/

# === Datenordner (nicht versionieren) ===
data/raw/
data/processed/

# === IDE- und OS-spezifische Dateien ===
.vscode/
*.log
.DS_Store
*.swp

.DS_Store
